name: Deploy

on:
  workflow_call:
    inputs:
      project:
        description: 'Project name'
        required: true
        type: string

jobs:
  Deploy:
    name: Deploy
    runs-on: worklab
    permissions:
      contents: read
      packages: write
      # This is used to complete the identity challenge
      # with sigstore/fulcio when running outside of PRs.
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Deploy service
        run: |
          set -x
          export GITHUB_PROJECT_NAME=${{ inputs.project }}
          export DOCKERHUB_REGISTRY=altervisionhub
          helmfile -f deploy/helmfile.yaml --log-level info apply --suppress-secrets
